name: My first Workflow

on: push

jobs:
    ascii_jobs:
        runs-on: ubuntu-latest
        steps:
        - name: CheckOut Repo
          uses: actions/checkout@v4

        - name: List Repo Files
          run: ls -ltra
            
            
        - name: Executing a shell script
          run: ./ascii-script.sh
            