name: My first Workflow

on: push

jobs:
    first_job:
        runs-on: ubuntu-latest
        steps:
            - name: CheckOut Repo
              uses: actions/checkout@v4

            - name: Welcome message
              run: |
                echo "My first Github Action Jobs"
                ls -ltra
                cat README.md
            
            - name: Generate ASCII Artwork
              run: cowsay -f dragon "Run for vover, I am a DRAGON... RAWR" >> dragon.txt
            #- name: List Files
            #  run: ls -ltra
              
            
            #- name: Read Files
            #  run: cat README.md

            